*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

body{
    background-attachment: aliceblue;
    display:flex;
    justify-content:center;
    height:100vh;
    border-radius: 10px;

}
h1{
    text-align:center;
    margin-bottom:20px;
}
lebel{
    font-size: 25px;
    font-weight:600px;
    margin-bottom: 5px;
}
input{
    width:100px;
    height:30px;
    margin-bottom:30px;
    padding:10px;
}
.box{
    height: 400px;
    width:400px;
    background-color: white;
    padding:60px;
}